<tui-root>
  <div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive center">
      <tui-avatar
        [text]="username"
        size="xxl"
        class="tui-space_top-1"
        [rounded]="true"
      ></tui-avatar>
    </div>
    <div class="tui-row tui-row_adaptive center">
      <div>
        <div class="tui-text_h3">
          {{username}}
        </div>
        <tui-rating
          class="yellow center"
          [readOnly]="true"
          [(ngModel)]="rateValue"
        ></tui-rating>
      </div>
    </div>
    <div class="tui-row tui-row_adaptive center tui-space_top-5" *ngFor="let i of [12,2,2,2,2,2,2,2,]">
      <tui-island size="l" (click)="openRateDescriptionDialog('123213')">
        <div class="tui-island__content">
          <div class="tui-island__figure">
            <tui-rating
              class="yellow center"
              [readOnly]="true"
              [(ngModel)]="rateValue"
            ></tui-rating>
          </div>
          <div>
            <p class="tui-island__category">20/02/2021 13:20</p>
            <h3 class="tui-island__title">ANdrew M</h3>
            <p class="tui-island__paragraph rate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </tui-island>
    </div>
  </div>
  <div class="bottom-row">
    <button
      class="open-dialog-btn"
      tuiButton
      type="button"
      size="m"
      (click)="bottomButtonClick()"
    >
      {{ isLoggedIn ? 'Rate' : 'Log in'}}
    </button>
  </div>
</tui-root>
